<!DOCTYPE html>
<html>
<head>
  <title>Telegram Bot</title>

  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body style="background-color: #E6E6E6">
  <div class="col-md-3">

</div>

  <h1>Telegram Bot Questions</h1> <br><br><br>
  <row>
  <form method="POST" action="/">
  <div>
    <h2> Eixo: </h2>
    <select name="eixo">
      <option value="eixo1">Eixo 1</option>
      <option value="eixo2">Eixo 2</option>
      <option value="eixo3">Eixo 3</option>
      <option value="eixo4">Eixo 4</option>
      <option value="eixo5">Eixo 5</option>
      <option value="eixo6">Eixo 6</option>
      <option value="eixo7">Eixo 7</option>
    </select>
  </div>
  <div class="input-group input-group-lg">
    <h2> Tese: </h2><br>
      <input type="text" name="texto" class="form-control" size="100" placeholder="Insira uma tese para votação" >
      <br><br><br><br>
      <button type="submit"> Enviar </button>
  </div>
  </form>
</row>



  <!-- Latest compiled and minified JavaScript -->
  <!--
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
-->
</body>
</html>
